layout {
  cwd "$HOME";

  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="sb"
    }
  }

  tab name="work" {
    pane;
  }

  tab name="chore" {
    pane;
  }

  tab name="web" {
    pane;
  }

  tab name="sys" cwd="$NIX_CONFIG_DIR" {
    pane;
  }
}
