theme "kanagawa"

plugins {
  sb location="file:$XDG_CONFIG_HOME/zellij/plugins/zjstatus.wasm" {
    format_left   " #[fg=green]{session} #[]{mode} "
    format_center "#[fg=green]{tabs}"

    mode_normal     "#[fg=green]NOR"
    mode_locked     "#[fg=bright_red]VER"
    mode_tmux       "TMX"
    mode_rename_pane "RNP"
    mode_rename_tab  "RNT"

    tab_normal            "#[fg=bright_green]{index} #[fg=green]{name} #[fg=blue]{fullscreen_indicator}{floating_indicator}"
    tab_normal_fullscreen "#[fg=bright_green]{index} #[fg=green]{name} #[fg=blue]{fullscreen_indicator}{floating_indicator}"
    tab_normal_sync       "#[fg=bright_green]{index} #[fg=green]{name} #[fg=blue]{fullscreen_indicator}{floating_indicator}{sync_indicator} "

    tab_active            "#[fg=bright_green]{index} #[]{name} #[fg=blue]{fullscreen_indicator}{floating_indicator}"
    tab_active_fullscreen "#[fg=bright_green]{index} #[]{name} #[fg=blue]{fullscreen_indicator}{floating_indicator}"
    tab_active_sync       "#[fg=bright_green]{index} #[]{name} #[fg=blue]{fullscreen_indicator}{floating_indicator}"

    tab_rename            "#[fg=bright_green]{index} #[fg=yellow]{name} #[fg=blue]{fullscreen_indicator}{floating_indicator}"

    tab_sync_indicator        "<>"
    tab_fullscreen_indicator  "[]"
    tab_floating_indicator    "()"

    tab_separator " "

    tab_truncate_start_format "#[fg=yellow]<+{count} "
    tab_truncate_end_format  " #[fg=yellow]+{count}>"
  }
}

// req: zjstatus
pane_frames false

keybinds clear-defaults=true {
  shared_except "normal" "locked" {
    // Mode
    bind "Esc" { SwitchToMode "normal"; }
  }

  shared_except "locked" "tmux" {
    // Mode
    bind "Ctrl g" { SwitchToMode "locked"; }
  }

  shared_among "renamepane" "renametab" {
    bind "Enter" { SwitchToMode "normal"; }
  }

  tmux {
    // Pane
    bind "\\" { NewPane "right"; SwitchToMode "normal"; }
    bind "'" { NewPane "down"; SwitchToMode "normal"; }
    bind "Ctrl '" { NewPane "stacked"; SwitchToMode "normal"; }
    bind "q" { CloseFocus; SwitchToMode "normal"; }
    bind "Ctrl f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
    bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }
    bind "Shift f" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
    bind "w" { NextSwapLayout; SwitchToMode "normal"; }
    bind "Ctrl w" { PreviousSwapLayout; SwitchToMode "normal"; }
    bind "=" { Resize "increase"; }
    bind "-" { Resize "decrease"; }

    bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
    bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
    bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
    bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
    bind "Ctrl h" { MovePane "left"; SwitchToMode "normal"; }
    bind "Ctrl l" { MovePane "right"; SwitchToMode "normal"; }
    bind "Ctrl j" { MovePane "down"; SwitchToMode "normal"; }
    bind "Ctrl k" { MovePane "up"; SwitchToMode "normal"; }

    bind "e" { EditScrollback; SwitchToMode "normal"; }
    bind "Ctrl e" { Clear; SwitchToMode "normal"; }
    bind "." { SwitchToMode "renamepane"; }

    // Tab
    bind "c" { NewTab; SwitchToMode "normal"; }
    bind "Ctrl q" { CloseTab; SwitchToMode "normal"; }
    bind "Ctrl p" { MoveTab "left"; SwitchToMode "normal"; }
    bind "Ctrl n" { MoveTab "right"; SwitchToMode "normal"; }

    bind "1" { GoToTab 1; SwitchToMode "normal"; }
    bind "2" { GoToTab 2; SwitchToMode "normal"; }
    bind "3" { GoToTab 3; SwitchToMode "normal"; }
    bind "4" { GoToTab 4; SwitchToMode "normal"; }
    bind "5" { GoToTab 5; SwitchToMode "normal"; }
    bind "6" { GoToTab 6; SwitchToMode "normal"; }
    bind "7" { GoToTab 7; SwitchToMode "normal"; }
    bind "8" { GoToTab 8; SwitchToMode "normal"; }
    bind "9" { GoToTab 9; SwitchToMode "normal"; }
    
    bind "Ctrl ." { SwitchToMode "renametab"; }

    // Session
    bind "d" { Detach; }
    bind "s" { LaunchOrFocusPlugin "zellij:session-manager" { floating true; }; SwitchToMode "normal"; }

    // Input
    bind "Ctrl a" { WriteChars ""; SwitchToMode "normal"; }
    bind "Ctrl g" { WriteChars ""; SwitchToMode "normal"; }
  }

  normal {
    // Mode
    bind "Ctrl a" { SwitchToMode "tmux"; }

    // Pane
    bind "Alt h" { MoveFocus "left"; }
    bind "Alt l" { MoveFocus "right"; }
    bind "Alt j" { MoveFocus "down"; }
    bind "Alt k" { MoveFocus "up"; }

    // Tab
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }
  }

  locked {
    // Mode
    bind "Ctrl g" { SwitchToMode "normal"; }
  }
}

show_startup_tips false

